
{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}

  
    <style>
      .course-img
      {
        width:60px;
        height: 30px;
      }
      .table
      {
        font-size: 13px;
      }
     .course-form
      {
        padding: 1em 2em;
       
      }
      .input-group
      {
        margin: 1em;
      }
      .input-group label
      {
        font-size: 13px;
      }
      .input-group input, textarea
      {
        padding: 0.75em;
        border: none;
        border-bottom: 2px solid rgb(174, 174, 175);
        width: 100%;
      }
     
      .input-group .image-save{
        border: none;
        outline: none;
        background: rgb(35, 4, 94);
        color: #ffff;
        border-radius: 10px;
        padding: 0.40em 2em;
        font-size: 0.85em;
      }
      
      #hideDiv p{
        font-size: 14px;
        color: rgb(12, 2, 53);
        font-weight: 700;

      }
      .card 
      {
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
      }
      .card .card-body, .card-footer 
      {
        border: none;
      }
    

    </style>



 <!-- Begin Page Content -->
 <div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Gallery</h1>


  <div class="row">
    <div class="col-lg-12">

        <!-- Collapsable Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Add Images</h6>
            </a>
            
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">


                  <form action="{% url 'add_images' %}" class="course-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                   
                   
                    <div class="row g-3">
                      
                      <div class="col-lg-12">
                        <div class="input-group">
                            <label> Image</label>
                            <input type="file" name="gal_img" multiple required >
                          </div>
                      </div>
              
                      <div class="input-group">
                        <button type="submit" class="image-save">Save</button>
                      </div>
                  </div>
                </form>
                    
                </div>
                <div class="card-footer text-center">
                  
                  {% if messages %}
                <div class="error text-center" id="hideDiv">
                          
                  {% for message in messages %}
                  <p>{{ message }}</p>
                  {% endfor %}

                </div>
                {% endif %}
                </div>
            </div>
        </div>

    </div>

  </div>


  <!-- Images -->
  <div class="card shadow mb-4">
    <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div> -->
    <div class="card-body">
      <div class="container mt-4 p-4">
        <div class="row g-2">
            {% for i in imags %}
            <div class="col-lg-3 col-md-3 d-flex align-items-stretch m-4 card">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  {% if i.gallery_img %}
                   <img src="{{i.gallery_img.url}}" class="img-fluid" alt="" style="width: 300px; height:190px;"> 
                   {% endif %}
                  
                </div> 
                
                <a href="{% url 'image_remove' i.id %}" class="mb-3 mt-2" style="font-size: 12px;">Remove</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>

</div>
<!-- /.container-fluid -->


{% endblock %}



