
{% extends 'Admin/adminbase.html' %}
{% load static %}
{% block body %}
<head>
    <!-- Custom styles for this page -->
    <link href="static/adminfiles/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
  
    <style>
    
      .table
      {
        font-size: 13px;
      }
    
    </style>
</head>


 <!-- Begin Page Content -->
 <div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Messages</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div> -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email id</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Project</th>
                    <th scope="col">Messages</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Full Name</th>
                    <th scope="col">Email id</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Project</th>
                    <th scope="col">Messages</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for i in enq %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{i.enq_date}}</td>
                    <td>{{i.Name}}</td>
                    <td>{{i.Email}}</td>
                    <td>{{i.Phone}}</td>
                    <td>{{i.project}}</td>
                    <td>{{i.message}}</td>
                    <td>
                      {% if i.status == 1 %}
                      <p style="color: rgb(101, 255, 17);">Cheked</p>
                      {% elif i.status == 2 %}
                      <p style="color: rgb(241, 17, 17);">Rejected</p>
                      {% else %}
                      <a href="{% url 'enq_check' i.id %}" style="color: rgb(69, 10, 146);">To Check</a>,&nbsp;
                      <a href="{% url 'enq_reject' i.id %}" style="color: rgb(241, 17, 17);">Reject</a>
                      {% endif %}
                    </td>
                    <td> <a href="{% url 'enq_delete' i.id %}">Delete</a></td>
                  </tr>
                 {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>




</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

  {% endblock %}
