<!doctype html>
<html lang="en">
{% load static %}

<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PPX9VQQH');</script>
<!-- End GoogleTagManage-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <title>Digital marketing company in Kerala | SEO, SEM, SMM, Branding</title>
  <meta name="description"
    content="As the stronghold of the best digital marketing agency in India we always provide exceptional digital marketing services in seo, sem, smm, ppc online marketing." />

  <meta property="og:url" content="https://altostechnologies.in/digital" />
  <meta property="og:type" content="Website" />
  <meta property="og:title" content="Digital marketing company in Kerala | SEO, SEM, SMM, Branding" />
  <meta property="og:description"
    content="As the stronghold of the best digital marketing agency in India we always provide exceptional digital marketing services in seo, sem, smm, ppc online marketing." />
  <meta property="og:image" content="https://altostechnologies.in/static/images/logo.png" />

  <link rel="shortcut icon" href="{% static 'images/logo.png' %}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Digital marketing company in Kerala | SEO, SEM, SMM, Branding">
  <meta name="twitter:description"
    content="As the stronghold of the best digital marketing agency in India we always provide exceptional digital marketing services in seo, sem, smm, ppc online marketing.">
  <link href="https://altostechnologies.in/digital" rel="canonical" />

  <meta name="google-site-verification" content="LoY-CVPuvtWVxYhyHkd4SRk0wuvxUq9279OLySrjqdc" />
<meta name="msvalidate.01" content="F7712C338CE3604FDD8BF76FC23584A5"/>

  <!-- Favicons -->
  <link href="{% static 'img/logo-icon.png' %}" rel="icon">
  <link href="{% static 'img/logo-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">



  <style>
    .logo .first-span {
      font-weight: 500;
      text-align: center;
      font-size: 29px;
      font-family: Hack, sans-serif;
      background: linear-gradient(rgb(18, 167, 180), rgb(57, 209, 201), rgb(11, 111, 138));

      letter-spacing: 2px;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-repeat: no-repeat;
      background-size: 100%;
      position: relative;

    }
  </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3RLTXDEGMP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-3RLTXDEGMP');
</script>
<!-- ======= Header ======= -->
<header id="header" class="fixed-top green-blue">
  <div class="container d-flex align-items-center justify-content-lg-between">

    <h1 class="logo me-auto me-lg-0">
      <a href="{% url 'text_page' %}">
        <!-- <video src="static/img/logo.mp4"></video> -->
        <img src="{% static 'img/lg1.gif' %}" class="" alt="Logo Gif">
        <!-- <img src="static/img/logo-icon.png" class="">
      <span class="first-span">ALTOS Technologies</span>  -->
      </a>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto hom " href="{% url 'text_page' %}">Home</a></li>
        <li><a class="nav-link scrollto abot" href="{% url 'aboutus' %}">About us</a></li>
        <li><a class="nav-link scrollto serv" href="{% url 'service' %}">Services</a></li>
        <li><a class="nav-link scrollto  cor " href="{% url 'core' %}">Product</a></li>
        <li><a class="nav-link scrollto  cors " href="{% url 'vacancy' %}">Career</a></li>

        <li><a class="nav-link scrollto event" href="{% url 'events' %}">Events</a></li>
        <li><a class="nav-link scrollto cont" href="{% url 'contact' %}">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <!-- <a href="#about" class="get-started-btn scrollto">Get Started</a> -->

  </div>
</header><!-- End Header -->

<!-- Service page CSS-->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&family=EB+Garamond&family=Heebo:wght@600;700&family=Montserrat&family=Mulish:wght@200&family=Poppins:wght@200;300&family=Raleway:wght@200&family=Work+Sans:wght@200&display=swap');

  #navbar .serv {
    color: #189aa6;
    font-weight: 800;
  }

  .container-fluid {

    margin: 0;
    padding: 0;
    background: url("static/img/bg1.gif") top center;
    background-size: fill;
    position: relative;

  }

  #our-service #hero {
    scroll-snap-align: start;

    width: 100%;
    height: 100vh;

    position: relative;
    background: #00000009;
  }

  #services_list {
    width: 100%;
    position: relative;
    background: #00000099;
  }

  #containet-top-head {
    padding-top: 5em;
    text-align: center;
  }

  #service-box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5em;
  }
  #service-box .box-service {
    width: 290px;
    position: relative;
    height: 380px;
    padding: 1em 1.7em;
    background: rgba(0, 0, 0, 0.60);
  }

  #service-box .box-contents {
    height: 300px;
  }

  .box-contents box-contents {
    font-size: 1.5em;
  }

  #service-box .box-service:hover {
    background: rgba(0, 0, 0, 0.79);
  }

  .box-service h4 {
    color: #f5f5f5;
    opacity: 0.9;
    font-weight: 600;
    font-family: Hind Siliguri;
    font-size: 22px;
    margin-bottom: 1em;
  }

  .box-service .icon {
    margin-bottom: 0.50em;
    font-size: 1.5em;

  }

  .box-service p {
    color: #b2b2b2;
    line-height: 1.7em;
    text-align: center;

  }

  .dig-mark-container .box-service {
    width: 290px;
    position: relative;
    height: 380px;
    padding: 1em 1.7em;
    /* background: rgba(0, 0, 0, 0.60); */
    background: rgb(153 153 153 / 27%);
    margin: 0.2em;
    border-radius: 9px;
  }
  .dig-mark-container .box-contents {
    height: 300px;
  }

  #containet-top-head .section-title {
    margin-top: 1em;
  }

  .section-title p {
    font-size: 26px;
  }

  @media(max-width:932px) {
    #service-box {
      text-align: center;
    }

    #services_list {
      height: auto;
    }

    .section-title p {
      font-size: 20px;
    }

    #containet-top-head {
      padding-top: 3.1em
    }
  }

  .request-box a {
    color: #189aa6;
  }

  #services_list .section-title p {
    color: #fafafa;
    font-size: 2.10em;
  }

  .dig-mark-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #00000099;
    padding: 1em 0.20em;

  }

  .dig-mark-container #sub-content p {
    margin-top: 1em;
    font-size: 0.93em;
    line-height: 1.9em;
    color: #bdbcbc;

    padding: 1em;
  }
</style>

<!-- End Service page CSS-->

<div class="container-fluid" id="our-service">



  <section id="services_list">
    <div class="container" id="containet-top-head">
      <div class="section-title">
        <p>Check our <span style="color: rgb(39, 112, 141);">Services</span></p>

        <!-- <p style="color: #ffff;">At Altos Technologies, we offer a comprehensive suite of 
          <span style="color: #0fa49b;">digital marketing and IT services
            designed to meet your unique needs. Our key services include:</span></p> -->
      </div>
      <section id="digital-marketing">
        <div class="dig-mark-container">
          <h4 class="text-start mt-3" style=" color: #e3e3e3;"><b>//Digital Marketing</b></h4>
          <div class="container" id="sub-content">
            <p>Also called online marketing, is the promotion of brands to connect with potential customers using the
              internet and other forms of digital communication. It encompasses all marketing efforts that use
              electronic devices or the internet. It involves promoting products or services through various digital
              channels to reach a target audience, engage them, and drive desired actions.</p>
          </div>

          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
  
              <div class="icon"> <ion-icon name="search" style="color: #ffb700"></ion-icon></div>
              <h4 style="color: #ffb700">SEO Optimization</h4>
              <p>The Process Of Improving Your Site To Increase Its Visibility When People
                Search For Products Or Services
                Related To Your Business In Google, Bing, And Other Search Engines.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>

          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
              <div class="icon"> <i class="bx bx-tachometer" style="color: #ffb700"></i></div>
              <h4 style="color: #ffb700">Content Marketing</span> </h4>
              <p> Content marketing is a marketing strategy used to attract, engage, and retain an audience
                by creating and sharing relevant articles, videos, podcasts, and other media.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>

          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
              <div class="icon"><ion-icon name="phone-portrait" style="color: #ffb700"></ion-icon></div>
  
              <h4 style="color: #ffb700">App store Optimization</span></h4>
              <p>It is the process of optimizing mobile apps to rank higher in
                an app store's search results. The higher your app ranks , the more visible it is to potential customers.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>
  
          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
              <div class="icon"> <ion-icon name="archive" style="color: #ffb700"></ion-icon></div>
  
              <h4 style="color: #ffb700">Email Marketing</h4>
              <p> Email marketing is a form of marketing that can make the
                customers on your email list aware of new products, discounts, and other services.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>
  
          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
              <div class="icon"> <ion-icon name="chatbox-outline" style="color: #ffb700"></ion-icon></div>
              <h4 style="color: #ffb700">SMS Marketing</span> </h4>
              <p>SMS is one of the most convenient channels for communicating
                with your customers, and one of the most preferred mediums by customers themselves.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>
  
          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
              <div class="icon"> <ion-icon name="chatbubbles-outline" style="color: #ffb700"></ion-icon></div>
              <h4 style="color: #ffb700">WhatsApp Marketing</h4>
              <p> You can use it to send reminders about abandoned shopping carts,
                share special offers and coupons, or even answer customer questions in real time.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>
  
          <div class="box-service" style="height: 450px;">
            <div class="box-contents" style="height: 380px;">
              <div class="icon">
                <ion-icon name="share-social-outline" style="color: #ffb700"></ion-icon>
              </div>
              <h4 style="color: #ffb700">Social Media Marketing </span> </h4>
              <p> Increase your brand awareness, drive more traffic to your website by creating &
                managing social media accounts, developing content strategies, running social media
                advertising campaigns, and analyzing data to track your progress and make data-driven decisions.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>

          <div class="box-service" style="height: 450px;">
            <div class="box-contents">
              <div class="icon">
                <ion-icon name="logo-linkedin" style="color: #ffb700"></ion-icon>
              </div>
              <h4 style="color:#ffb700">LinkedIn Marketing</span> </h4>
              <p> It is using the platform to market your business or company.
                It can be used as a marketing tool too as it allows you to easily segment your target audience.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>
          
          <div class="box-service" style="height: 450px;">
            <div class="box-contents" style="height: 380px;">
              <div class="icon">
                <ion-icon name="logo-youtube" style="color:#ffb700"></ion-icon>
              </div>
              <h4 style="color:#ffb700">YouTube Marketing </span> </h4>
              <p> From creating a channel, content creation, paid promotion, etc, we work with a
                variety of industries and can create customized strategies for each one. Let us
                help you utilize this powerful platform for businesses to reach the targeted audience.
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>

          <div class="box-service" style="height: 450px;">
            <div class="box-contents" style="height: 380px;">
              <div class="icon">
                <ion-icon name="archive" style="color: #ffb700"></ion-icon>
              </div>
              <h4 style="color:#ffb700">Email Marketing Tools </span> </h4>
              <p>
                Our email marketing tool is a powerful and easy-to-use platform designed to help you create,
                send, and analyze email campaigns. Our customizable templates and segmentation tools make
                it easy to target your audience and optimize your campaigns.
  
              </p>
            </div>
            <div class="request-box">
              <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
            </div>
          </div>
  
          <div class="box-service" style="height: 450px;">
            <div class="box-contents" style="height: 380px;">
              <div class="icon">
                <ion-icon name="grid" style="color:#ffb700"></ion-icon>
              </div>
              <h4 style="color:#ffb700">Whatsapp Marketing Tools </span> </h4>
              <p>
                Our WhatsApp marketing tool allows you to connect with your audience on the world's most
                popular messaging platform. Our customizable solutions allow you to send personalized
                messages, manage your contacts, and track performance
  
              </p>
            </div>
            <div class="request-box">
              <a href="{% url 'whatsappmarkettools' %}" >Know More </a>
            </div>
          </div>

        </div>
      </section>

      <div class="container" id="service-box">

        <!-- <div class="box-service">
          <div class="box-contents">

            <div class="icon"> <ion-icon name="search" style="color: #ffb700"></ion-icon></div>
            <h4 style="color: #ffb700">SEO Optimization</h4>
            <p>The Process Of Improving Your Site To Increase Its Visibility When People
              Search For Products Or Services
              Related To Your Business In Google, Bing, And Other Search Engines.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div> -->

        <!-- <div class="box-service">
          <div class="box-contents">
            <div class="icon"> <i class="bx bx-tachometer" style="color: #ffb700"></i></div>
            <h4 style="color: #ffb700">Content Marketing</span> </h4>
            <p> Content marketing is a marketing strategy used to attract, engage, and retain an audience
              by creating and sharing relevant articles, videos, podcasts, and other media.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div> -->

        <!-- <div class="box-service">
          <div class="box-contents">
            <div class="icon"> <ion-icon name="desktop" style="color: #ffb700"></ion-icon></div>
            <h4 style="color: #ffb700">Digital Marketing</h4>
            <p> Also called online marketing, is the promotion of brands to connect with potential
              customers using the internet and other forms of digital communication.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div> -->

        <!-- <div class="box-service">
          <div class="box-contents">
            <div class="icon"><ion-icon name="phone-portrait" style="color: #ffb700"></ion-icon></div>

            <h4 style="color: #ffb700">App store Optimization</span></h4>
            <p>It is the process of optimizing mobile apps to rank higher in
              an app store's search results. The higher your app ranks , the more visible it is to potential customers.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service">
          <div class="box-contents">
            <div class="icon"> <ion-icon name="archive" style="color: #ffb700"></ion-icon></div>

            <h4 style="color: #ffb700">Email Marketing</h4>
            <p> Email marketing is a form of marketing that can make the
              customers on your email list aware of new products, discounts, and other services.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service">
          <div class="box-contents">
            <div class="icon"> <ion-icon name="chatbox-outline" style="color: #ffb700"></ion-icon></div>
            <h4 style="color: #ffb700">SMS Marketing</span> </h4>
            <p>SMS is one of the most convenient channels for communicating
              with your customers, and one of the most preferred mediums by customers themselves.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service">
          <div class="box-contents">
            <div class="icon"> <ion-icon name="chatbubbles-outline" style="color: #ffb700"></ion-icon></div>
            <h4 style="color: #ffb700">WhatsApp Marketing</h4>
            <p> You can use it to send reminders about abandoned shopping carts,
              share special offers and coupons, or even answer customer questions in real time.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service">
          <div class="box-contents">
            <div class="icon">
              <ion-icon name="logo-linkedin" style="color: #ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">LinkedIn Marketing</span> </h4>
            <p> It is using the platform to market your business or company.
              It can be used as a marketing tool too as it allows you to easily segment your target audience.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="share-social-outline" style="color: #ffb700"></ion-icon>
            </div>
            <h4 style="color: #ffb700">Social Media Marketing </span> </h4>
            <p> Increase your brand awareness, drive more traffic to your website by creating &
              managing social media accounts, developing content strategies, running social media
              advertising campaigns, and analyzing data to track your progress and make data-driven decisions.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>
        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="logo-youtube" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">YouTube Marketing </span> </h4>
            <p> From creating a channel, content creation, paid promotion, etc, we work with a
              variety of industries and can create customized strategies for each one. Let us
              help you utilize this powerful platform for businesses to reach the targeted audience.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div> -->


        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="grid" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">BPO </span> </h4>
            <p> Our business process outsourcing services can help you streamline your operations, reduce
              costs, and increase efficiency. We provide a range of services, including customer support, data
              entry, and back-office operations.
            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="grid" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">CRM </span> </h4>
            <p>
              Our customer relationship management services are designed to help businesses build and
              maintain strong relationships with their clients. Our customizable solutions allow you to manage
              and analyze customer data, track sales, and automate processes.

            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="grid" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">Data Entry </span> </h4>
            <p>
              Our data entry services can help you manage and organize large amounts of data quickly and
              accurately. We use advanced technology and experienced professionals to ensure that your
              data is handled with the utmost care and accuracy.


            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="cloud-done-outline" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">Data Analysis </span> </h4>
            <p>
              Our data analysis services provide valuable insights into your business operations, helping you
              make informed decisions and improve performance. We use advanced analytics tools and
              techniques to analyze your data and provide actionable recommendations.


            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>


        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="analytics-outline" style="color:#ffb700"></ion-icon>

            </div>
            <h4 style="color:#ffb700">Data Analysis Tools </span> </h4>
            <p>
              Our data analysis tools are designed to help you extract valuable insights from your data quickly
              and easily. Our customizable solutions allow you to analyze data from multiple sources and
              generate reports and visualizations

            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>


        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="logo-web-component" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">Website Development </span> </h4>
            <p>
              Our website development services can help you build a professional and effective online
              presence. We provide customized solutions to meet your unique needs, including design,
              development, and maintenance services.

            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <!-- <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="archive" style="color: #ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">Email Marketing Tools </span> </h4>
            <p>
              Our email marketing tool is a powerful and easy-to-use platform designed to help you create,
              send, and analyze email campaigns. Our customizable templates and segmentation tools make
              it easy to target your audience and optimize your campaigns.

            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div>

        <div class="box-service" style="height: 450px;">
          <div class="box-contents" style="height: 380px;">
            <div class="icon">
              <ion-icon name="grid" style="color:#ffb700"></ion-icon>
            </div>
            <h4 style="color:#ffb700">Whatsapp Marketing Tools </span> </h4>
            <p>
              Our WhatsApp marketing tool allows you to connect with your audience on the world's most
              popular messaging platform. Our customizable solutions allow you to send personalized
              messages, manage your contacts, and track performance

            </p>
          </div>
          <div class="request-box">
            <a href="#" data-bs-toggle="modal" data-bs-target="#enquery-form">Know More </a>
          </div>
        </div> -->



      </div>
  </section>

</div>




<!-- Css for enquery-form -->
<style>
  #enquery-form .modal-content {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("static/img/web4.gif") top center;
    background-size: cover;
    background-position: center;
  }

  #enquery-form .container {
    position: relative;

    width: 100%;
  }

  #enquery-form .container .form {
    position: relative;

    background: rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    color: #edebeb;
    backdrop-filter: blur(1px);
    border-radius: 2px;
  }


  .modal-dialog,
  .modal-header,
  .modal-footer {
    border: none;
    outline: none;
    border-radius: none;
  }

  .close {
    border: none;
    outline: none;
    border-radius: none;
    background: transparent;
    color: #fbfbff;

  }

  .modal-content .form {

    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 8px 20px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
  }

  .modal-content h4 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 120px;
    color: #78788c;
    border-bottom: 3px solid #262628;
    font-size: 1.2em;
  }

  .modal-content input,
  select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    color: #d9dad9;
  }


  .modal-content input:focus,
  option:focus {
    border-bottom: 2px solid #147b92
  }

  .modal-content p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 13px;
    color: #dfdfdf;
  }

  .modal-content .btn-send {
    float: right;
    padding: 8px 12px;
    margin: -5px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #1a1a1b;
    background: #0d0101;
    color: #fbfbff;
    border: none;
    cursor: pointer;
    transition: all .3s
  }

  .modal-content .btn-send:hover {
    background: #000000;
    color: #fff;

  }

  .close:hover {
    background: rgb(6, 6, 6);
  }

  #enquery-form select:focus,
  .options {
    background: #147b92;


  }
</style>


<!-- End Css  enquery-form -->

<!-- Request Form  -->

<div class="modal fade" id="enquery-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">

        <h4> <ion-icon name="paper-plane-outline" style="color:rgb(254, 254, 254);font-size:18px;"></ion-icon> Send Us
        </h4>

        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="container">
          <form class="form" method="post" action="{% url 'enquerys' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <p type="Name:"><input placeholder="Write your name here.." name="Name" required></p>
            <p type="Email:"><input placeholder="Let us know how to contact you back.." name="Email" required></p>
            <p type="Phone:"><input placeholder="Let us know your number" pattern="[1-9]{1}[0-9]{9}" name="Phone"
                required></p>
            <p type="Technologies:"><select name="project" required>
                <option value="SEO Optimization">
                  <p class="options pt-2">SEO Optimization</p>
                </option>
                <option value="YouTube Marketing">
                  <p class="options pt-2">YouTube Marketing</p>
                </option>
                <option value="LinkedIn Marketing">
                  <p class="options pt-2">LinkedIn Marketing</p>
                </option>
                <option value="WhatsApp Marketing">
                  <p class="options pt-2">WhatsApp Marketing</p>
                </option>
                <option value="SMS Marketing">
                  <p class="options pt-2">SMS Marketing</p>
                </option>
                <option value="Email Marketing">
                  <p class="options pt-2">Email Marketing</p>
                </option>
                <option value="App store Optimization">
                  <p class="options">App store Optimization</p>
                </option>
                <option value="Digital Marketing">
                  <p class="options pt-2"> Digital Marketing</p>
                </option>
                <option value="Content Marketing">
                  <p class="options pt-2"> Content Marketing</p>
                </option>

                <option value="Whatsapp Marketing Tools">
                  <p class="options pt-2"> Whatsapp Marketing Tools</p>
                </option>
                <option value="Email Marketing Tools ">
                  <p class="options pt-2"> Email Marketing Tools </p>
                </option>
                <option value="Website Development ">
                  <p class="options pt-2"> Website Development </p>
                </option>
                <option value="Data Entry">
                  <p class="options pt-2"> Data Entry</p>
                </option>
                <option value="Data Analysis">
                  <p class="options pt-2"> Data Analysis </p>
                </option>
                <option value="Data Analysis Tools">
                  <p class="options pt-2">Data Analysis Tools</p>
                </option>
                <option value="BPO">
                  <p class="options pt-2">BPO</p>
                </option>


              </select></p>
            <p type="Message:"><input placeholder="What would you like to tell us.." name="message"></p>

            <button type="submit" class="btn-send">Send Message</button>
            <!-- <div>
              <span class="fa fa-phone"></span>001 1023 567
              <span class="fa fa-envelope-o"></span> contact@company.com
            </div> -->
          </form>
        </div>
      </div>

      <!--Footer-->
      <!-- <div class="modal-footer justify-content-center">
        <a type="button" class="btn btn-success">Get it now <i class="far fa-gem ml-1 text-white"></i></a>
        <a type="button" class="btn btn-outline-success waves-effect" data-bs-dismiss="modal">Close</a>
      </div> -->
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->


<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="footer-info">
            <h3> <img src="{% static 'img/logo.png' %}" class="" alt="Logo"></h3>
            <p style="font-weight: 700;color:rgb(62, 199, 206)">Kerala Branch</p>
            <p>1st Floor - Thapasya Building<br>
              Kakkanad, Cochin<br>
              <strong>Phone:</strong> +91 90741 56818<br>

            </p>
            <p class="mt-2" style="font-weight: 700; color:rgb(62, 199, 206)">Tamil Nadu Branch</p>
            <p>First floor,D Block ,Tidel park,Tharamani,<br>
              Chennai, Tamilnadu 600113<br>
              <strong>Phone:</strong> +91 73065 42853<br>
              <strong>Email:</strong> Info@ altostechnologies.com<br>
            </p>
            <div class="social-links mt-3">
              <!-- <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> -->
              <a href="https://www.facebook.com/people/ALTOS-Technologies/100084886970426/" class="facebook"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/altos_technologies/" class="instagram"><i
                  class="bx bxl-instagram"></i></a>
              <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
              <a href="https://www.linkedin.com/company/altos-technologies-kochi/" class="linkedin"><i
                  class="bx bxl-linkedin"></i></a>
              <a href="https://youtube.com/@altostechnologies" class="google-plus"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 footer-links">
          <h4>Qucik Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'text_page' %}">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'aboutus' %}">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'service' %}">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'core' %}">Product</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Qucik Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'vacancy' %}">Career</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'events' %}">Events</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'contact' %}">Contact</a></li>
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li> -->
            <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li> -->
          </ul>
        </div>

        <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>

        </div> -->

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Altos Technologies</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

    </div>
  </div>
</footer><!-- End Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- ionicons link-->

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>

<script>
  $(function () {
    setTimeout(function () { $("#successMessage").fadeOut(1500); }, 3000)

  })
</script>

<script>
  $(function () {
    setTimeout(function () { $("#job_success").fadeOut(1500); }, 3000)

  })
</script>



</body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPX9VQQH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager(noscript)-->
</html>